In [19]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [20]:
wage = pd.read_excel(r'C:\Users\Yunhan Guo\Desktop\2023 Fall\P218 Econometrics1\Problem Sets\PS2\wage.xlsx')
wage['lwage'] = np.log(wage['wage'])

In [21]:
wage.head()

   male      wage     lwage
0     0  6.315296  1.842975
1     0  5.479770  1.701063
2     0  3.642170  1.292580
3     0  4.593337  1.524607
4     0  2.418158  0.883006

In [22]:
# n1 and n2
n1 = wage['male'].value_counts()[0]
n2 = wage['male'].value_counts()[1]

# s1 and s2
s1 = wage[wage['male'] == 0]['lwage'].std()
s2 = wage[wage['male'] == 1]['lwage'].std()

# T
T = ((n1 * n2) / (n1 + n2)) ** 0.5 * (np.log(s1) - np.log(s2))

# kappa hat
wage = wage.sort_values('male')
wage['lwage_gmean'] = wage.groupby('male')['lwage'].transform('mean')
nominator = (n1 + n2) * ((wage['lwage'] - wage['lwage_gmean']) ** 4).sum()
denominator = ((wage['lwage'] - wage['lwage_gmean']) ** 2).sum() ** 2
kappa_hat = nominator / denominator

# old stats and new stats for testing
stats_old = (s1 ** 2)/ (s2 ** 2) # F(n1-1, n2-1)
stats_new = T / ((kappa_hat - 1) ** 0.5) # standard normal

In [24]:
stats_old

1.0858707722186252

In [23]:
stats_new

0.4676502470139186